* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: relative;
}

.navbar .logo,
.navbar .menu {
    flex-grow: 0;
    text-align: center; 
}

form{
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;   
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 550px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    font-size: 1.2em;
    transition: all 2.2s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #4d4d4d;
    color: rgb(0, 0, 0);
}

.logo h1 {
    margin: 0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.menu li {
    margin: 0;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.menu a.active {
    border-bottom: 2px solid #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.login-icon {
    font-size: 24px; 
    color: white;
    transition: color 0.3s;
}

.login-icon:hover {
    color: #eb6d19; 
}


.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 35px;
    padding: 20px;
    justify-content: center;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  var(--bg-color, #eb6d19);;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.container .card::after {
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);
}

.container .card .imgbx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgbx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgbx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.container .card .contentbx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentbx {
    height: 210px;
}

.container .card .contentbx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentbx .Size,
.container .card .contentbx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentbx .Size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentbx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentbx .Size h3,
.container .card .contentbx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}  

.container .card .contentbx .Size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    background: gray;
    border-radius: 10px;
    margin: 0 5px;
    transition: 0.5s;
}

.container .card .contentbx .Size span:hover {
    background: #eb6d19;
}

.container .card .contentbx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentbx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentbx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

footer{
    background-color: #7aa1a7;
    color: #fff;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
